@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*{
	margin:0;
	padding:0;
}

/*===================================*/

html{
	overflow-x: hidden;
}

body{
    
	margin: 150px 0px 0px;
	background-size:100%;
	font-family: 'Indie Flower', cursive;
	background-color: rgba( 136, 207, 193, .8 );
    background-image: url("../images/index_background.png");
	background-repeat: repeat-y;
	overflow-x: hidden;

}

/*banner*/
.banner{
	overflow:hidden;
	width:100%;
	height: 65vh;
}

.anitext{
	position: relative;
	top: 10%;
	left: 10%;
	font-family: 'Indie Flower', cursive;
	color:rgba(255, 255, 255, 1);
	font-size: 9vh;
	opacity: 0;

	animation: ant 2s ease 1 0.5 normal forwards;

	-webkit-animation-name: ant;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-direction: normal;
	-webkit-animation-fill-mode: forwards;
}

@keyframes ant{

	from {
		left: 0%;
	}
	to {
		opacity: 1;
	}
	
}

/* section */
section{
	width: 80%;
	margin: auto;
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
	-moz-column-count: 1; /* Firefox */
	column-count: 1;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
	font-size: 28px;
	color: rgba( 255, 255, 255, 1 );
}

.box {
	width: 30vw;
	font-size: 3vw;
	display: inline-block;
	float: right;
	box-sizing: border-box;
	position: relative;
	background: rgba( 255, 255, 255, 1 );
	margin: 12px 0px 12px;
	z-index: 10;
	overflow: hidden;
    box-shadow: 2px 2px 8px rgba( 173, 181, 189, 1 );
    border-radius: 10px;
}

.textbox2{
	width: 60%;
}

.textbox{
	width: 100%;
	font-size: 10vw;
	color: rgba( 0, 0, 0, 1 );
}

.photo img{
    border-radius: 12px;
	margin: 12px 0px 0px;
	width: 100%;
}

.imgbox{
	
	overflow: hidden;
}

.box .imgbox img{
    float: left;
    width: 100%;
}

.box h3{
	box-sizing: border-box;
	padding: 0px 20px;
	color: rgba( 69, 69, 69, 1 );
}

.box p{
	box-sizing: border-box;
	padding: 0px 20px;
	color: rgba( 42, 157, 143, 1 );
}

.head{
    display: inline-block;
    padding: 0px 20px 20px;
}

.head img{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.head span{
    float: left;
    font-size: 13px;
    color: rgba( 42, 157, 143, 1 );
    line-height: 40px;
    margin-left: 10px;
}

.fadebox{
	position: absolute;
	left: 50%;
	width: 80%;
	top: 50%;
	-ms-transform: translate( -50%, -50% );
	-webkit-transform: translate( -50%, -50% );
	transform: translate( -50%, -50% );
	opacity: 0;
}

.fadebox a{
	text-align: center;
	display: block;
	font-size: 25px;
	padding: 20px 0px;
	color: rgba( 255, 255, 255, 1 );
	text-decoration: none;
	background: rgba( 136, 207, 193, 1 );
}

.fadebox a:hover{
	color:rgba( 136, 207, 193, 1 );
	background: rgba( 255, 255, 255, 1 );
}

.box:hover .fadebox{
	opacity: 1;
}

.box:hover img{
	-webkit-filter: brightness(30%);
	filter: brightness(30%);
}

.icon-grid{
    margin: 0px 0px 20px;
    width: 100%;
}

/* clearfix */
.icon-grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
	box-sizing: border-box;
    margin: 10px 5px 10px;
    width: 20%;
	overflow: hidden;
}

.grid-sizer img, 
.grid-item img{
    float: left;
	width: 100%;
	height: 100%;
    object-fit: cover;
}

.grid-item {
    height: 120px;
    float: left;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

.grid-item--width2 { 
    width:  40%; 
}

.grid-item--width3 { 
    width:  60%;
}

.grid-item--height2 { 
    height: 200px; 
}

.grid-item--height3 { 
    height: 260px; 
}

.grid-item--height4 { 
    height: 360px; 
}

.grid-item:hover .fadebox{
	opacity: 1;
}

.grid-item:hover img{
	filter: brightness(30%);
}
